body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.topnav img {
  margin-top: 15px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(181, 176, 176, 0.6);
  z-index: 100000;
}

.topnav a {
  float: left;
  color: #231e1e;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.topnav a:hover {
  color: #eb5d44;
}

.topnav a.active {
  color: rgb(235, 93, 68);
}

.topnav .search-input {
  z-index: 99;
  font-size: 14px;
  width: 400px;
  margin-top: 0px;
  transition: all 0.5s ease;
  position: absolute;
  left: 800px;
  opacity: 0;
  border-color: #dbeff1;
}

.topnav .search-expanded {
  margin-top: 90px;
  max-width: 400px;
  height: 50px;
  opacity: 1000;
  margin-left: 30px;
  outline-color: #f1e9e3;
  border-radius: 10px;
}

.topnav .search-wrapper {
  position: relative;
  background-color: #ffffff;
  color: #eb5d44;
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 32px;
  margin-left: 1020px;
  font-size: 20px;
}
