body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  padding-left: 100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #eb5d44;
}

.topnav a.active {
  color: rgb(235, 93, 68);
}
