@font-face {
  font-family: "TT Barrels Trl2";
  font-style: normal;
  font-weight: 300;
  src: local("TT Barrels Trl"),
    url("https://fonts.cdnfonts.com/s/96459/TT Barrels Trial Regular.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "TT Barrels Trl2", serif;
}

.topnav img {
  margin-top: 20px;
  width: 160px;
  height: 46px;
  margin-left: 100px;
}

.topnav {
  width: 100%;
  //position: fixed;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(181, 176, 176, 0.6);
  z-index: 100000;
}

.topnav a {
  float: left;
  color: #231e1e;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 12px;
  font-family: "TT Barrels Trl2";
}

.topnav a:hover {
  color: #eb5d44;
}

.topnav a.active {
  color: rgb(235, 93, 68);
}

.topnav .search-input {
  z-index: 10000000;
  font-size: 14px;
  width: 400px;
  margin-top: 0px;
  transition: all 0.5s ease;
  position: absolute;
  left: 800px;
  opacity: 0;
  border-color: #dbeff1;
}

.topnav .search-expanded {
  z-index: 100000000000;
  margin-top: 90px;
  max-width: 400px;
  height: 50px;
  opacity: 1000;
  margin-left: 30px;
  outline-color: #f1e9e3;
  border-radius: 10px;
}

.topnav .search-wrapper {
  float: right;
  position: relative;
  background-color: #ffffff;
  color: #eb5d44;
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 1030px;
  font-size: 25px;
}

.topnav .nav-search {
  justify-content: left;
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
  font-size: 17px;
  color: "#f05d4a";
  margin-left: 70px;
  margin-top: 13px;
}

.topnav .nav-login {
  justify-content: left;
  width: 1rem;
  height: 1rem;
  margin-left: 2rem;
  display: inline-block;
  color: "#f05d4a";
  margin-left: 50px;
  margin-top: 20px;
}

.topnav .nav-iconsS {
  justify-content: left;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  display: inline-block;
  font-size: 17px;
  color: "#f05d4a";
}
