@font-face {
  font-family: "TT Barrels Trl4";
  font-style: normal;
  font-weight: 400;
  src: local("TT Barrels Trl"),
    url("https://fonts.cdnfonts.com/s/96459/TT Barrels Trial Regular.woff")
      format("woff");
}

@font-face {
  font-family: "TT Barrels Trl6";
  font-style: normal;
  font-weight: 800;
  src: local("TT Barrels Trl"),
    url("https://fonts.cdnfonts.com/s/96459/TT Barrels Trial Regular.woff")
      format("woff");
}

.footer {
  background-color: #ffffff;
  color: #666;
  padding: 20px;
  text-align: center;
  padding-top: 50px;
}

.column1 .column2 .column3 {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  text-align: left;
}
.column1 {
  font-family: "TT Barrels Trl4";
  margin-top: -150px;
  margin-right: 400px;
  text-align: justify;
  font-size: 12px;
}

.column1 p {
  font-family: "TT Barrels Trl4";
  margin-top: 15px;
  text-align: justify;
  font-size: 12px;
  max-width: 250px;
}

.column2 {
  font-family: "TT Barrels Trl4";
  margin-left: -200px;
  margin-top: -20px;
  text-align: left;
  font-size: 12px;
}

.column2 ul {
  font-family: "TT Barrels Trl4";
  text-align: left;
  margin-top: 0px;
  list-style-type: none;
  margin-left: -40px;
}

.column3 {
  font-family: "TT Barrels Trl4";
  margin-left: 200px;
  margin-top: -50px;
  text-align: left;
  font-size: 12px;
}

.column3 ul {
  font-family: "TT Barrels Trl4";
  text-align: left;
  list-style-type: none;
  margin-left: -40px;
}

li {
  padding-top: 7px;
}
